container_commands:
  01-migrations:
    command: "php artisan migrate --force"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."
      chmod -R 777 /var/www/html/storage

      if [ ! -f /var/www/html/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          touch /var/www/html/storage/logs/laravel.log
          chown root:root /var/www/html/storage/logs/laravel.log
      fi

      if [ ! -d /var/www/html/public/storage ]; then
          echo "Creating /public/storage symlink..."
          ln -s /var/www/html/storage/app/public /var/www/html/public/storage
      fi

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/www/html/storage/logs/*.log